<div class="d-flex justify-content-around align-items-center w-100 h-100 p-3">

  <div class="cards-wrapper">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div class="d-flex flex-column w-100">
            <div class="d-flex">
              <mat-icon class="icon-display m-auto">fingerprint</mat-icon>
            </div>
            <div class="d-flex m-auto mt-3">
              <b>Glucose</b>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="p-4">
          <p>
            Manage your glucose level by registering them. <br> keep track of them and see how they fluctuate over time
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div class="d-flex flex-column w-100">
            <div class="d-flex">
              <mat-icon class="icon-display m-auto">restaurant_menu</mat-icon>
            </div>
            <div class="d-flex m-auto mt-3">
              <b>Food</b>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="p-4">
          <p>
             Keep track of what you eat, and we will calculate your macronutrients and calories!
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div class="d-flex flex-column w-100">
            <div class="d-flex">
              <mat-icon class="icon-display m-auto">timeline</mat-icon>
            </div>
            <div class="d-flex m-auto mt-3">
              <b>Analysis</b>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="p-4">
          <p>
            By registering your glucose levels, we give you analytics over time of your levels and your target nutrients
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div class="d-flex flex-column w-100">
          <div class="d-flex">
            <mat-icon class="icon-display m-auto">supervisor_account</mat-icon>
          </div>
          <div class="d-flex m-auto mt-3">
            <b>Collaborate</b>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="p-4">
        <p>
          Comunicate directly with your medic via mails.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  </div>



</div>
