<div class="d-inline-block" [ngStyle]="{'border-color': glucoseRecord.color}" (click)="playSound(); assignRoute();">
  <a>
    Glucose Level:{{glucoseRecord.glucoseLevel}} Mg/dl <span [ngStyle]="{'color': glucoseRecord.color}">|</span>
    Date:{{glucoseRecord.dateRecorded | date:"mediumDate"}} <span [ngStyle]="{'color': glucoseRecord.color}">|</span>
    Hour:{{glucoseRecord.dateRecorded | date:"shortTime"}}
  </a>
  <span [ngStyle]="{'color': glucoseRecord.color}">| </span>
  <a appClickStopPropagation style="color: aliceblue;" class="btn btn-dark" [routerLink]="[index]+'/edit'">Edit</a>
  <router-outlet></router-outlet>
</div>
