<div class="d-flex flex-column">

  <div class="d-flex flex-row w-100">
    <div class="w-25">
      <app-presentation-front></app-presentation-front>
    </div>

    <div class="d-flex flex-fill p-3 justify-content-around">

      <div class="first-img-container">
        <img id="img-first" src="/assets/medic-pacient_3.jpg">
      </div>
      <div class="second-img-container">
        <img id="img-second" src="/assets/medic-pacient_2.jpg">
      </div>

    </div>
  </div>

  <mat-divider class="mat-divider-class"></mat-divider>

  <div class="flex-grow-1">
    <app-presentation-choices></app-presentation-choices>
  </div>

</div>
