@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
/* You can add global styles to this file, and also import other style files */
:root {
  --color1:#D14D72;
  --color2:#FFABAB;
  --color3:#FCC8D1;
  --color4:#FEF2F4;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
} */

html {
  height: 100vh;
  width:100vw;
  position:absolute; top:0; bottom:0; right:0; left:0;
}
body {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  min-height: 100vh;
  overflow-x:hidden;
}

.time-picker-component .mat-form-field-infix {
  display: inherit !important;
}


