<div class="d-flex align-content-center justify-content-center">
  <div class="w-50">
      <mat-card class="p-3">
        <mat-card-header class="m-3">
          <h2 class="m-auto" style="font-weight: 700;">Reset your password</h2>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginForm">
            <mat-error *ngIf="!loginValid">
              The username and password were not recognized
            </mat-error>
            <div class="d-flex flex-column">

              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Password" name="password" required formControlName="password">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                  <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-icon matPrefix><i class="bi bi-lock"></i></mat-icon>
                <mat-error>
                  Please provide a valid password
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Confirm Password" name="confirmPassword" required formControlName="confirmPassword">
                <mat-icon matPrefix><i class="bi bi-person-lock"></i></mat-icon>
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                  Please provide a valid confirm password
                </mat-error>
              </mat-form-field>

              <button mat-raised-button color="primary" [disabled]="!loginForm.valid" class="internal-register-button" (click)="ResetPassword()">Reset password</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="d-flex flex-fill p-3">
    <div class="d-flex m-auto">
      <img id="img-first" src="/assets/medic-pacient_2.jpg">
    </div>
  </div>
